#user{
    max-width: 100vw;
    min-height: 350px;
    background-color: rgb(224, 224, 224);
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bootstrap_text{
    width: 700px;
    font-style: italic;
    margin-bottom: 20px;
}
.bootstrap_text h3{
    font-size: 20px;
    font-weight: 400;
}
.worker{
    display: flex;
    align-items: center;
    gap: 15px;
}
.worker img{
    width: 40px;
    height:40px;
    border-radius: 50%;
}
.worker span{
    color: blue;
    font-weight: 500;
}